* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body{
    background-color: beige;
}

h1 {
    text-align: center;
}

.container {
    width: 500px;
    max-width: 100%;
    height: 300px;
    max-height: 75%;
    border: 10px solid greenyellow;
    border-style: ridge;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #e6f5e6;
}

.drum-pad {
    border: 1px solid black;
    text-align: center;
    padding: 20% 0;
    cursor: pointer;
    background-color: #24F057;
    font-size: 2rem;
    box-shadow: 3px 3px 3px #00AA00;
    border-radius: 5px;
}

.active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    height: 100%;
    grid-gap: 1vw;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}

.controls {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
}

.toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 20%;
}

.toggle > p {
    font-size: smaller;
}

.click {
    border: 1px solid black;
    cursor: pointer;
    width: 50%;
    height: 40%;
    box-shadow: 3px 3px 3px #00AA00;
}

.click:hover {
    filter: opacity(80%);
}

.click-btn {
    width: 50%;
    height: 100%;
    background-color: green;
}

.info {
    background-color: greenyellow;
    width: 75%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    border-color: green;
    box-shadow: 3px 3px 3px #00AA00;
}

.info-msg {
    padding: 2px;
}

input[type=range] {
    width: 75%;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #002200;
  background: #205928;
  border-radius: 1px;
  border: 1px solid #18D501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus {
  outline: none;
}